.card {
    position: absolute;
    background-color: #222831;
    width: 220px;
    height: 402px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(126, 117, 117, 0.7);
    color: white;
    margin-left: 530px;
    top: 105px;
    left: 14px;
  }

.question-text {
    text-align: center;
    margin: 20px 10px;
    font-size: 15px;
}

.option-list {
    width: 100%;
}

.option-list button {
    color: #fff !important;
    background: #60a3bc;
    text-decoration: none;
    margin: 8px auto;
    text-align: center;
    padding: 8px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 90%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    transition: all 0.4s ease 0s;
    border-radius: 50px;
    border: none;
}

.option-list :hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}